*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat';
}

.headings {
    text-align: center;
    margin: 50px;
    font-weight: 1000000;
}

h5 {
    font-size: 20px;
}

.horizontal-line {
    border: none;
    background: black;
    height: 5px;
    border-radius: 10px;
    background: linear-gradient(to left, slategrey, black);
    margin-right: 200px;
    margin-left: 200px;
}

.header-text{
    color: white;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 36px;
}

.header{
    width: 100%;
    height: 190px;
    background-color: lightslategrey;
    color:white;
    display: inline-block;
}

.fa-customize {
    color: white;
    float: left;
}

.fa-customize:hover{
    color:black;
}

.summary{
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 20px;
}

.flexbox-container{
    display:flex;
    justify-content: center;
    margin: 50px;
}

.item1{
    flex: 1;
    margin: 100px;
    text-align: center;
}

.item2{
    align-content: right;
    flex: 1;
}
